html {
    scroll-behavior: smooth;
}

  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #FFA69E;
}

#navtitle{
    color: #FFA69E;
    font-weight: bold;
    font-family: "Monaco";
}

a:hover {
    color: #DDFFF7;
}

ul {
    list-style-type: none;
}

nav ul{
    float: right;
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-family: "Monaco";

}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: #93E1D8;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

#title {
    text-align: center;
    padding-top: 10rem;
    color: #FFA69E;
    background:#DDFFF7;
    font-family: "Monaco";
    font-weight: bold;
    font-size: 50px;
}
#dininghall{
    text-align: center;
    padding-top: 10rem;
    color: #FFA69E;
    background:#DDFFF7;
    font-family: "Monaco";
}

#restaurants{
    text-align: center;
    padding-top: 10rem;
    color: #FFA69E;
    background:#DDFFF7;
    font-family: "Monaco";
}

#homecooked {
    text-align: center;
    padding-top: 10rem;
    color: #FFA69E;
    background:#DDFFF7;
    font-family: "Monaco";
}


.optionscard{
    border: 5px solid #FFA69E;
    border-radius: 11px;
    padding: 20px;
    margin: 50px;
    max-width: 550px; 
    font-size: 30px;
}
.allcards {
    display: flex;
    align-items: center;
    justify-content: center;
}

#learnmore {
    text-align: center;
    padding-top: 10rem;
    background:#DDFFF7;
    font-family: "Monaco";
}